# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment variables
.env
*.env

# VSCode settings (optional)
.vscode/

# OS files
.DS_Store
Thumbs.db

python-sdk/
